<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50410/WeeklyMenuService.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IService1" 
                contract="Xy.Pis.Contract.Service.Logistics.IWeeklyMenuService"          
                name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>
